.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-divide {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
}

.bottom-section {
  height: 100vh;
  width: 100%;
}

.weather-select-dropdown {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin: 0 auto;
  width: 250px;
}

.weather-select-label {
  margin: 0 auto;
}

.select-bar {
  margin-top: 5px;
  height: 30px;
  font-size: 18px;
  padding-left: 5px;
  border-radius: 15px;
}

.weather-submit-button {
  width: 100px;
  height: 30px;
  border-radius: 12px;
  margin-top: 20px;
  margin-left: calc(50vw - 50px);
  background-color: rgb(43, 79, 162);
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.weather-submit-button:hover {
  opacity: 0.8;
}

.weather-submit-button:active {
  opacity: 0.7;
  box-shadow: 5px 5px 5px gray;
}


