.song-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: calc(50vw - 120px);
  margin-bottom: 25px;
}


.song-link:hover {
  text-decoration: underline;
  color: black;
}


.song-image {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 25px;
}

.song-link-box {
  height: 70px;
  width: 150px;
  justify-content: center;
}

.song-link {
  display: flexbox;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  vertical-align: middle;
  text-decoration: solid;
  font-weight: bolder;
  color: rgb(43, 79, 162);
  text-overflow: ellipsis;
}