.color-gradient-fall {
  background-image: linear-gradient(to top, rgb(251, 147, 50), rgb(246, 202, 161));
}

.color-gradient-winter {
  background-image: linear-gradient(to top, rgb(48, 146, 211), rgb(184, 228, 243));
}

.color-gradient-spring {
  background-image: linear-gradient(to top, rgb(62, 125, 80), rgb(181, 242, 190));
}

.color-gradient-summer {
  background-image: linear-gradient(to top, rgb(159, 181, 35), rgb(240, 232, 161));
}
